{% extends "home.html" %}
{% block content %}
<div>
    <br>
    <h1  class="m-0 text-dark text-center ">About</h1>
    <br>
    <p  class="m-0 text-dark text-center ">This is an interface for NHL API intended to gather data regarding the Minnesota Wild and other stats stuff I work on.
    The code can be found on my <a href="https://github.com/leoflewis/mn-wild-tracking">github.</a> Thanks for visiting.  
    </p>
</div>
<div>
    <br>
    <h1  class="m-0 text-dark text-center ">Glossary</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Single Game Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">SF</th>
                <th scope="row">Shots for</th>
            </tr>
            <tr>
                <th scope="row">SA</th>
                <th scope="row">Shot Against</th>
            </tr>
            <tr>
                <th scope="row">S%</th>
                <th scope="row">Shot share</th>
            </tr>
            <tr>
                <th scope="row">CF</th>
                <th scope="row">Corsi for</th>
            </tr>
            <tr>
                <th scope="row">CA</th>
                <th scope="row">Corsi Against</th>
            </tr>
            <tr>
                <th scope="row">C%</th>
                <th scope="row">Corsi share</th>
            </tr>
            <tr>
                <th scope="row">FF</th>
                <th scope="row">Fenwick for</th>
            </tr>
            <tr>
                <th scope="row">FA</th>
                <th scope="row">Fenwick Against</th>
            </tr>
            <tr>
                <th scope="row">F%</th>
                <th scope="row">Fenwick share</th>
            </tr>
            <tr>
                <th scope="row">xGF</th>
                <th scope="row">Expected goals for</th>
            </tr>
            <tr>
                <th scope="row">xGA</th>
                <th scope="row">Expected goals Against</th>
            </tr>
            <tr>
                <th scope="row">xGF%</th>
                <th scope="row">Expected goals share</th>
            </tr>
        </tbody>
    </table>
</div>
{%endblock%}