{% extends "home.html" %}
{% block content %}
<style>
    .time{
        padding: 10px;
        
    }
    .table{
        
        padding: 10px;
    }
    .scoreboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1000px;
        font-family: 'Quicksand', sans-serif;
    }
    .scoreboard__name,.scoreboard__score {
        padding: 10px;
        text-align: center;
    }
    .imge{
        position: absolute; 
        right:100px;
    }
    .scoreboard__name {
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    .scoreboard__name--one {
        color: #A6192E;
    }

    .scoreboard__name--two {
        color: #154734;
    }
    .plays{
        position: relative;
    }
    .scoreboard__score {
        font-size: 2em;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 ">
            <div class="scoreboard">
                <div class="scoreboard__name scoreboard__name--one">{{game.gameData.teams.away.name}}</div>
                <div class="scoreboard__name scoreboard__name--two">{{game.gameData.teams.home.name}}</div>
                <div class="scoreboard__score" data-for-player="one">{{game.liveData.linescore.teams.away.goals}}</div>
                <div class="scoreboard__score" data-for-player="two">{{game.liveData.linescore.teams.home.goals}}</div>
            </div>
            <br>
            <br>
            <div class="time">
                <h3>{{game.liveData.linescore.currentPeriodTimeRemaining}} in {{game.liveData.linescore.currentPeriodOrdinal}} </h1>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for period in game.liveData.linescore.periods %}
                        <th scope="col">{{period.num}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{game.gameData.teams.away.name}}</th>
                            {% for period in game.liveData.linescore.periods %}
                            <th scope="row">{{period.away.goals}}</th>
                            {%endfor%}
                    </tr>
                    <tr>
                        <th scope="row">{{game.gameData.teams.home.name}}</th>
                            {% for period in game.liveData.linescore.periods %}
                            <th scope="row">{{period.home.goals}}</th>
                            {%endfor%}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="imge">
    <div><img src="{{fig}}" alt="shot chart"></div>
    <div><img src="{{chart}}" alt="shot chart"></div>
    <div><img src="{{shifts}}" alt="shift chart"></div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ALL STRENTHS</th>
                <th scope="col">SF</th>
                <th scope="col">SA</th>
                <th scope="col">S%</th>
                <th scope="col">CF</th>
                <th scope="col">CA</th>
                <th scope="col">C%</th>
                <th scope="col">FF</th>
                <th scope="col">FA</th>
                <th scope="col">F%</th>
                <th scope="col">xGF</th>
                <th scope="col">xGA</th>
                <th scope="col">xG%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{game.gameData.teams.home.name}}</th>
                <th scope="row">{{corsi.home_shots}}</th>
                <th scope="row">{{corsi.away_shots}}</th>
                <th scope="row">{{corsi.home_shot_share}}</th>
                <th scope="row">{{corsi.home_corsi_for}}</th>
                <th scope="row">{{corsi.away_corsi_for}}</th>
                <th scope="row">{{corsi.home_corsi_share}}</th>
                <th scope="row">{{corsi.home_fenwick_for}}</th>
                <th scope="row">{{corsi.away_fenwick_for}}</th>
                <th scope="row">{{corsi.home_fenwick_share}}</th>
                <th scope="row">{{xG.home}}</th>
                <th scope="row">{{xG.away}}</th>
                <th scope="row">{{xG.home_xg_share}}</th>
            </tr>
            <tr>
                <th scope="row">{{game.gameData.teams.away.name}}</th>
                <th scope="row">{{corsi.away_shots}}</th>
                <th scope="row">{{corsi.home_shots}}</th>
                <th scope="row">{{corsi.away_shot_share}}</th>
                <th scope="row">{{corsi.away_corsi_for}}</th>
                <th scope="row">{{corsi.home_corsi_for}}</th>
                <th scope="row">{{corsi.away_corsi_share}}</th>
                <th scope="row">{{corsi.away_fenwick_for}}</th>
                <th scope="row">{{corsi.home_fenwick_for}}</th>
                <th scope="row">{{corsi.away_fenwick_share}}</th>
                <th scope="row">{{xG.away}}</th>
                <th scope="row">{{xG.home}}</th>
                <th scope="row">{{xG.away_xg_share}}</th>
            </tr>
        </tbody>
    </table>
</div>


{%endblock%}