{% extends "home.html" %}
{% block content %}
<style>
    .time{
        padding: 10px;
        
    }
    .table{
        
        padding: 10px;
    }
    .scoreboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1000px;
        font-family: 'Quicksand', sans-serif;
    }
    .scoreboard__name,.scoreboard__score {
        padding: 10px;
        text-align: center;
    }
    .imge{
        position: absolute; 
        right:100px;
    }
    .scoreboard__name {
        font-weight: bold;
        border-bottom: 1px solid #ddd;
    }

    .scoreboard__name--one {
        color: #A6192E;
    }

    .scoreboard__name--two {
        color: #154734;
    }
    .plays{
        position: relative;
    }
    .scoreboard__score {
        font-size: 2em;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 ">
            <div class="scoreboard">
                <div class="scoreboard__name scoreboard__name--one">{{game.gameData.teams.away.name}}</div>
                <div class="scoreboard__name scoreboard__name--two">{{game.gameData.teams.home.name}}</div>
                <div class="scoreboard__score" data-for-player="one">{{game.liveData.linescore.teams.away.goals}}</div>
                <div class="scoreboard__score" data-for-player="two">{{game.liveData.linescore.teams.home.goals}}</div>
            </div>
            <br>
            <br>
            <div class="time">
                <h3>{{game.liveData.linescore.currentPeriodTimeRemaining}} in {{game.liveData.linescore.currentPeriodOrdinal}} </h1>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for period in game.liveData.linescore.periods %}
                        <th scope="col">{{period.num}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{game.gameData.teams.away.name}}</th>
                            {% for period in game.liveData.linescore.periods %}
                            <th scope="row">{{period.away.goals}}</th>
                            {%endfor%}
                    </tr>
                    <tr>
                        <th scope="row">{{game.gameData.teams.home.name}}</th>
                            {% for period in game.liveData.linescore.periods %}
                            <th scope="row">{{period.home.goals}}</th>
                            {%endfor%}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="imge">
    <div><img src="{{fig}}" alt="shot chart"></div>
    <div><img src="{{chart}}" alt="shot chart"></div>
    <div><img src="{{shifts}}" alt="shift chart"></div>
    <h2>Team Stats</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ALL STRENTHS</th>
                <th scope="col">SF</th>
                <th scope="col">SA</th>
                <th scope="col">S%</th>
                <th scope="col">CF</th>
                <th scope="col">CA</th>
                <th scope="col">C%</th>
                <th scope="col">FF</th>
                <th scope="col">FA</th>
                <th scope="col">F%</th>
                <th scope="col">xGF</th>
                <th scope="col">xGA</th>
                <th scope="col">xG%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{game.gameData.teams.home.name}}</th>
                <th scope="row">{{corsi.home_shots}}</th>
                <th scope="row">{{corsi.away_shots}}</th>
                <th scope="row">{{corsi.home_shot_share}}</th>
                <th scope="row">{{corsi.home_corsi_for}}</th>
                <th scope="row">{{corsi.away_corsi_for}}</th>
                <th scope="row">{{corsi.home_corsi_share}}</th>
                <th scope="row">{{corsi.home_fenwick_for}}</th>
                <th scope="row">{{corsi.away_fenwick_for}}</th>
                <th scope="row">{{corsi.home_fenwick_share}}</th>
                <th scope="row">{{xG.home}}</th>
                <th scope="row">{{xG.away}}</th>
                <th scope="row">{{xG.home_xg_share}}</th>
            </tr>
            <tr>
                <th scope="row">{{game.gameData.teams.away.name}}</th>
                <th scope="row">{{corsi.away_shots}}</th>
                <th scope="row">{{corsi.home_shots}}</th>
                <th scope="row">{{corsi.away_shot_share}}</th>
                <th scope="row">{{corsi.away_corsi_for}}</th>
                <th scope="row">{{corsi.home_corsi_for}}</th>
                <th scope="row">{{corsi.away_corsi_share}}</th>
                <th scope="row">{{corsi.away_fenwick_for}}</th>
                <th scope="row">{{corsi.home_fenwick_for}}</th>
                <th scope="row">{{corsi.away_fenwick_share}}</th>
                <th scope="row">{{xG.away}}</th>
                <th scope="row">{{xG.home}}</th>
                <th scope="row">{{xG.away_xg_share}}</th>
            </tr>
        </tbody>
    </table>
    <h2>Individual Player Score</h2>
    <table class="table">
        <thead>
            <tr>
                {% for score in scores %}
                <th scope="col">{{score}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{scores.Name.0}}</th>
                <td>{{scores.Goals.0}}</td>
                <td>{{scores.Assists.0}}</td>
                <td>{{scores.Shots.0}}</td>
                <td>{{scores.Hits.0}}</td>
                <td>{{scores.Blocks.0}}</td>
                <td>{{scores.TOI.0}}</td>
                <td>{{scores.PenalyMinutes.0}}</td>
                <td>{{scores.GoalDifferential.0}}</td>
                <td>{{scores.GameScore.0}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.1}}</th>
                <td>{{scores.Goals.1}}</td>
                <td>{{scores.Assists.1}}</td>
                <td>{{scores.Shots.1}}</td>
                <td>{{scores.Hits.1}}</td>
                <td>{{scores.Blocks.1}}</td>
                <td>{{scores.TOI.1}}</td>
                <td>{{scores.PenalyMinutes.1}}</td>
                <td>{{scores.GoalDifferential.1}}</td>
                <td>{{scores.GameScore.1}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.2}}</th>
                <td>{{scores.Goals.2}}</td>
                <td>{{scores.Assists.2}}</td>
                <td>{{scores.Shots.2}}</td>
                <td>{{scores.Hits.2}}</td>
                <td>{{scores.Blocks.2}}</td>
                <td>{{scores.TOI.2}}</td>
                <td>{{scores.PenalyMinutes.2}}</td>
                <td>{{scores.GoalDifferential.2}}</td>
                <td>{{scores.GameScore.2}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.3}}</th>
                <td>{{scores.Goals.3}}</td>
                <td>{{scores.Assists.3}}</td>
                <td>{{scores.Shots.3}}</td>
                <td>{{scores.Hits.3}}</td>
                <td>{{scores.Blocks.3}}</td>
                <td>{{scores.TOI.3}}</td>
                <td>{{scores.PenalyMinutes.3}}</td>
                <td>{{scores.GoalDifferential.3}}</td>
                <td>{{scores.GameScore.3}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.4}}</th>
                <td>{{scores.Goals.4}}</td>
                <td>{{scores.Assists.4}}</td>
                <td>{{scores.Shots.4}}</td>
                <td>{{scores.Hits.4}}</td>
                <td>{{scores.Blocks.4}}</td>
                <td>{{scores.TOI.4}}</td>
                <td>{{scores.PenalyMinutes.4}}</td>
                <td>{{scores.GoalDifferential.4}}</td>
                <td>{{scores.GameScore.4}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.5}}</th>
                <td>{{scores.Goals.5}}</td>
                <td>{{scores.Assists.5}}</td>
                <td>{{scores.Shots.5}}</td>
                <td>{{scores.Hits.5}}</td>
                <td>{{scores.Blocks.5}}</td>
                <td>{{scores.TOI.5}}</td>
                <td>{{scores.PenalyMinutes.5}}</td>
                <td>{{scores.GoalDifferential.5}}</td>
                <td>{{scores.GameScore.5}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.6}}</th>
                <td>{{scores.Goals.6}}</td>
                <td>{{scores.Assists.6}}</td>
                <td>{{scores.Shots.6}}</td>
                <td>{{scores.Hits.6}}</td>
                <td>{{scores.Blocks.6}}</td>
                <td>{{scores.TOI.6}}</td>
                <td>{{scores.PenalyMinutes.6}}</td>
                <td>{{scores.GoalDifferential.6}}</td>
                <td>{{scores.GameScore.6}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.7}}</th>
                <td>{{scores.Goals.7}}</td>
                <td>{{scores.Assists.7}}</td>
                <td>{{scores.Shots.7}}</td>
                <td>{{scores.Hits.7}}</td>
                <td>{{scores.Blocks.7}}</td>
                <td>{{scores.TOI.7}}</td>
                <td>{{scores.PenalyMinutes.7}}</td>
                <td>{{scores.GoalDifferential.7}}</td>
                <td>{{scores.GameScore.7}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.8}}</th>
                <td>{{scores.Goals.8}}</td>
                <td>{{scores.Assists.8}}</td>
                <td>{{scores.Shots.8}}</td>
                <td>{{scores.Hits.8}}</td>
                <td>{{scores.Blocks.8}}</td>
                <td>{{scores.TOI.8}}</td>
                <td>{{scores.PenalyMinutes.8}}</td>
                <td>{{scores.GoalDifferential.8}}</td>
                <td>{{scores.GameScore.8}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.9}}</th>
                <td>{{scores.Goals.9}}</td>
                <td>{{scores.Assists.9}}</td>
                <td>{{scores.Shots.9}}</td>
                <td>{{scores.Hits.9}}</td>
                <td>{{scores.Blocks.9}}</td>
                <td>{{scores.TOI.9}}</td>
                <td>{{scores.PenalyMinutes.9}}</td>
                <td>{{scores.GoalDifferential.9}}</td>
                <td>{{scores.GameScore.9}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.10}}</th>
                <td>{{scores.Goals.10}}</td>
                <td>{{scores.Assists.10}}</td>
                <td>{{scores.Shots.10}}</td>
                <td>{{scores.Hits.10}}</td>
                <td>{{scores.Blocks.10}}</td>
                <td>{{scores.TOI.10}}</td>
                <td>{{scores.PenalyMinutes.10}}</td>
                <td>{{scores.GoalDifferential.10}}</td>
                <td>{{scores.GameScore.10}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.11}}</th>
                <td>{{scores.Goals.11}}</td>
                <td>{{scores.Assists.11}}</td>
                <td>{{scores.Shots.11}}</td>
                <td>{{scores.Hits.11}}</td>
                <td>{{scores.Blocks.11}}</td>
                <td>{{scores.TOI.11}}</td>
                <td>{{scores.PenalyMinutes.11}}</td>
                <td>{{scores.GoalDifferential.11}}</td>
                <td>{{scores.GameScore.11}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.12}}</th>
                <td>{{scores.Goals.12}}</td>
                <td>{{scores.Assists.12}}</td>
                <td>{{scores.Shots.12}}</td>
                <td>{{scores.Hits.12}}</td>
                <td>{{scores.Blocks.12}}</td>
                <td>{{scores.TOI.12}}</td>
                <td>{{scores.PenalyMinutes.12}}</td>
                <td>{{scores.GoalDifferential.12}}</td>
                <td>{{scores.GameScore.12}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.13}}</th>
                <td>{{scores.Goals.13}}</td>
                <td>{{scores.Assists.13}}</td>
                <td>{{scores.Shots.13}}</td>
                <td>{{scores.Hits.13}}</td>
                <td>{{scores.Blocks.13}}</td>
                <td>{{scores.TOI.13}}</td>
                <td>{{scores.PenalyMinutes.13}}</td>
                <td>{{scores.GoalDifferential.13}}</td>
                <td>{{scores.GameScore.13}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.14}}</th>
                <td>{{scores.Goals.14}}</td>
                <td>{{scores.Assists.14}}</td>
                <td>{{scores.Shots.14}}</td>
                <td>{{scores.Hits.14}}</td>
                <td>{{scores.Blocks.14}}</td>
                <td>{{scores.TOI.14}}</td>
                <td>{{scores.PenalyMinutes.14}}</td>
                <td>{{scores.GoalDifferential.14}}</td>
                <td>{{scores.GameScore.14}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.15}}</th>
                <td>{{scores.Goals.15}}</td>
                <td>{{scores.Assists.15}}</td>
                <td>{{scores.Shots.15}}</td>
                <td>{{scores.Hits.15}}</td>
                <td>{{scores.Blocks.15}}</td>
                <td>{{scores.TOI.15}}</td>
                <td>{{scores.PenalyMinutes.15}}</td>
                <td>{{scores.GoalDifferential.15}}</td>
                <td>{{scores.GameScore.15}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.16}}</th>
                <td>{{scores.Goals.16}}</td>
                <td>{{scores.Assists.16}}</td>
                <td>{{scores.Shots.16}}</td>
                <td>{{scores.Hits.16}}</td>
                <td>{{scores.Blocks.16}}</td>
                <td>{{scores.TOI.16}}</td>
                <td>{{scores.PenalyMinutes.16}}</td>
                <td>{{scores.GoalDifferential.16}}</td>
                <td>{{scores.GameScore.16}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.17}}</th>
                <td>{{scores.Goals.17}}</td>
                <td>{{scores.Assists.17}}</td>
                <td>{{scores.Shots.17}}</td>
                <td>{{scores.Hits.17}}</td>
                <td>{{scores.Blocks.17}}</td>
                <td>{{scores.TOI.17}}</td>
                <td>{{scores.PenalyMinutes.17}}</td>
                <td>{{scores.GoalDifferential.17}}</td>
                <td>{{scores.GameScore.17}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.18}}</th>
                <td>{{scores.Goals.18}}</td>
                <td>{{scores.Assists.18}}</td>
                <td>{{scores.Shots.18}}</td>
                <td>{{scores.Hits.18}}</td>
                <td>{{scores.Blocks.18}}</td>
                <td>{{scores.TOI.18}}</td>
                <td>{{scores.PenalyMinutes.18}}</td>
                <td>{{scores.GoalDifferential.18}}</td>
                <td>{{scores.GameScore.18}}</td>
            </tr>
            <tr>
                <th scope="row">{{scores.Name.19}}</th>
                <td>{{scores.Goals.19}}</td>
                <td>{{scores.Assists.19}}</td>
                <td>{{scores.Shots.19}}</td>
                <td>{{scores.Hits.19}}</td>
                <td>{{scores.Blocks.19}}</td>
                <td>{{scores.TOI.19}}</td>
                <td>{{scores.PenalyMinutes.19}}</td>
                <td>{{scores.GoalDifferential.19}}</td>
                <td>{{scores.GameScore.19}}</td>
            </tr>
        </tbody>
    </table>
</div>


{%endblock%}