<head>
    <title>MN Wild</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
</head>
<style>
    body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
    }
    .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    }
    .btn-danger {
        color: #fff;
        background-color: #A6192E;
        border-color: #A6192E;
    }
    .masthead {
        background: #A6192E;
        height: auto;
        padding-bottom: 15px;
        box-shadow: 0 16px 48px #154734;
        padding-top: 10px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8000/home/">MN Wild</a>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-black"> 
                    <a class="nav-link text-black font-weight-bold" href="http://localhost:8000/home/roster">Roster </a>
                </li>
                <li class="nav-item text-black"> 
                    <a class="nav-link text-black font-weight-bold" href="http://localhost:8000/home/schedule">Schedule </a>
                </li>
                <li class="nav-item text-black"> 
                    <a class="nav-link text-black font-weight-bold"  href="http://localhost:8000/home/about">About </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <p>Last Game</p>
                        <h2 class="card-title text-center">{{last_game.teams.0.previousGameSchedule.dates.0.games.0.teams.away.team.name}} at {{last_game.teams.0.previousGameSchedule.dates.0.games.0.teams.home.team.name}}</h2>
                        <p  class="m-0 text-dark text-center ">{{last_game.teams.0.previousGameSchedule.dates.0.date}}</h2>
                        <p  class="m-0 text-dark text-center ">{{last_game.teams.0.previousGameSchedule.dates.0.games.0.teams.away.team.name}}: {{last_game.teams.0.previousGameSchedule.dates.0.games.0.teams.away.score}}</p>
                        <p  class="m-0 text-dark text-center ">{{last_game.teams.0.previousGameSchedule.dates.0.games.0.teams.home.team.name}}: {{last_game.teams.0.previousGameSchedule.dates.0.games.0.teams.home.score}}</p>
                        <p  class="m-0 text-dark text-center ">{{last_game.teams.0.previousGameSchedule.dates.0.games.0.venue.name}}</p>
                        <a class="btn btn-danger" href="game/{{last_game.teams.0.previousGameSchedule.dates.0.games.0.gamePk}}">More &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <p>Next Game</p>
                        <h2 class="card-title text-center">{{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.away.team.name}} at {{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.home.team.name}}</h2>
                        <p  class="m-0 text-dark text-center ">{{next_game.teams.0.nextGameSchedule.dates.0.date}}</h2>
                        <p  class="m-0 text-dark text-center ">{{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.away.team.name}}: {{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.away.leagueRecord.wins}} - {{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.away.leagueRecord.losses}} - {{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.away.leagueRecord.ot}}</p>
                        <p  class="m-0 text-dark text-center ">{{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.home.team.name}}: {{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.home.leagueRecord.wins}} - {{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.home.leagueRecord.losses}} - {{next_game.teams.0.nextGameSchedule.dates.0.games.0.teams.home.leagueRecord.ot}}</p>
                        <p  class="m-0 text-dark text-center ">{{next_game.teams.0.nextGameSchedule.dates.0.games.0.venue.name}}</p>
                        <a class="btn btn-danger" href="game/{{next_game.teams.0.nextGameSchedule.dates.0.games.0.gamePk}}">More &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 ">
            <h3>MN Wild totals this season</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Games</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Loses</th>
                        <th scope="col">Ot</th>
                        <th scope="col">Pts</th>
                        <th scope="col">PTS%</th>
                        <th scope="col">G/GM</th>
                        <th scope="col">GA/GM</th>
                        <th scope="col">EVG Ratio</th>
                        <th scope="col">PP%</th>
                        <th scope="col">PPG</th>
                        <th scope="col">PKGA</th>
                        <th scope="col">PK%</th>
                        <th scope="col">S/GM</th>
                        <th scope="col">SA</th>
                        <th scope="col">Sh%</th>
                        <th scope="col">S%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for stat in stats %}
                        <th scope="row">total/rank</th>
                        <th scope="row">{{stat.stat.gamesPlayed}}</th>
                        <th scope="row">{{stat.stat.wins}}</th>
                        <th scope="row">{{stat.stat.losses}}</th>
                        <th scope="row">{{stat.stat.ot}}</th>
                        <th scope="row">{{stat.stat.pts}}</th>
                        <th scope="row">{{stat.stat.ptPctg}}</th>
                        <th scope="row">{{stat.stat.goalsPerGame}}</th>
                        <th scope="row">{{stat.stat.goalsAgainstPerGame}}</th>
                        <th scope="row">{{stat.stat.evGGARatio}}</th>
                        <th scope="row">{{stat.stat.powerPlayPercentage}}</th>
                        <th scope="row">{{stat.stat.powerPlayGoals}}</th>
                        <th scope="row">{{stat.stat.powerPlayGoalsAgainst}}</th>
                        <th scope="row">{{stat.stat.penaltyKillPercentage}}</th>
                        <th scope="row">{{stat.stat.shotsPerGame}}</th>
                        <th scope="row">{{stat.stat.shotsAllowed}}</th>
                        <th scope="row">{{stat.stat.shootingPctg}}</th>
                        <th scope="row">{{stat.stat.savePctg}}</th>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

<footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">NHL and the NHL Shield are registered trademarks of the National Hockey League. NHL and NHL team marks are the property of the NHL and its teams. © NHL 2022. All Rights Reserved.</p>
</footer>

  