{% extends "home.html" %}
{% block content %}
{% load mathfilters %}
<div class="container">
    <img src="https://assets.nhle.com/mugs/nhl/20222023/MIN/{{player_id}}.png">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for person in player.people %}
                <h1>{{person.fullName}} #{{person.primaryNumber}}</h1>
                <h4>{{person.primaryPosition.name}}</h2>
                <h5>{{person.birthCity}}, {{person.birthCountry}}</h4>
                <h5>{{person.height}} - {{person.weight}}lbs</h5>
            {% endfor %}
            <br>
            <div> 
                <table class="table">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">year</th>
                            <th scope="col">team</th>
                            <th scope="col">games</th>
                            <th scope="col">goals</th>
                            <th scope="col">assits</th>
                            <th scope="col">points</th>
                            <th scope="col">points/g</th>
                            <th scope="col">toi</th>
                            <th scope="col">hits</th>
                            <th scope="col">pim</th>
                            <th scope="col">s%</th>
                            <th scope="col">fo%</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{current_season.season}}</td>
                                <td>{{current_season.team.name}}</td>
                                <td>{{current_season.stat.games}}</td>
                                <td>{{current_season.stat.goals}}</td>
                                <td>{{current_season.stat.assists}}</td>
                                <td>{{current_season.stat.points}}</td>
                                <td>{{current_season.stat.points|div:current_season.stat.games}}</td>
                                <td>{{current_season.stat.timeOnIce}}</td>
                                <td>{{current_season.stat.hits}}</td>
                                <td>{{current_season.stat.pim}}</td>
                                <td>{{current_season.stat.shotPct}}</td>
                                <td>{{current_season.stat.faceOffPct}}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <br>
            <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">year</th>
                            <th scope="col">team</th>
                            <th scope="col">games</th>
                            <th scope="col">goals</th>
                            <th scope="col">assits</th>
                            <th scope="col">points</th>
                            <th scope="col">toi</th>
                            <th scope="col">hits</th>
                            <th scope="col">pim</th>
                            <th scope="col">s%</th>
                            <th scope="col">fo%</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stat in stats %}
                        {% for x in stat.splits %}
                        <tr>
                            <td>{{x.season}}</td>
                            <td>{{x.team.name}}</td>
                            <td>{{x.stat.games}}</td>
                            <td>{{x.stat.goals}}</td>
                            <td>{{x.stat.assists}}</td>
                            <td>{{x.stat.points}}</td>
                            <td>{{x.stat.timeOnIce}}</td>
                            <td>{{x.stat.hits}}</td>
                            <td>{{x.stat.pim}}</td>
                            <td>{{x.stat.shotPct}}</td>
                            <td>{{x.stat.faceOffPct}}</td>
                        </tr>
                        {%endfor%}
                        {%endfor%}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}