{% extends "home.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for player in roster%}
            <div class="card mb-4">
                <div class="card-body">
                    <p class="m-0 text-dark ">{{player.jerseyNumber}}</p>
                    <h2 class="card-title text-center">{{player.person.fullName}}</h2>
                    <p class="m-0 text-dark text-center ">{{player.position.name}}</p>
                    <a class="btn btn-danger" href="player/{{player.person.id}}">More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}