{% extends "home.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for date in schedule %}
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        {%for game in date.games %}
                        <h2 class="card-title text-center">{{game.teams.away.team.name}} at {{game.teams.home.team.name}}</h2>
                        <p  class="m-0 text-dark text-center ">{{ date.date }}</h2>
                        <p  class="m-0 text-dark text-center ">{{game.teams.away.team.name}} - {{game.teams.away.score}} </p>
                        <p  class="m-0 text-dark text-center ">{{game.teams.home.team.name}} - {{game.teams.home.score}} </p>
                        <p  class="m-0 text-dark text-center ">{{game.status.detailedState}}</p>
                        <a class="btn btn-danger" href="game/{{game.gamePk}}">More &rarr;</a>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}